{% autoescape off %}
    Bonjour {{ user.first_name }},
    Cette adresse e-mail a été utilisée pour réinitialiser le mot de passe de votre compte sur la platforme mobilité.

    Le lien ci-dessous vous permettra de choisir un nouveau mot de passe:
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    Le lien est valable pendant {{timeout}} heures.
    Si le lien n'est pas cliquable, veuillez copier et coller l'adresse dans votre navigateur.

    Bien à vous,
    Le developpeur.
{% endautoescape %}